body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

button {
  margin: 0 10px;
  font-size: 1rem;
}

#menu {
  background-color: #faf181;
  width: 100vw;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  top: 0;
  left: 0;
  z-index: 100;
}

#barcode-container {
  position: fixed;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  background-color: #fff;
  display: none;
  width: 100vw;
  height: 100vh;
}

img {
  width: 300px;
  height: 300px;
}

.show-barcode {
  display: flex !important;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 5px 0;
}
